
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    background-color: #1F2937;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.navbar{
    height: 100px;
    margin-bottom: 0px;
}

.navbar,.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.heading{
    font-size: 40px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: 
    space-between;
    align-items: center;
    height: 100%;
}

ul{
    list-style-type: none;
}

ul.links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 250px;

}

img.main-pic{
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
 }

div.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 200px; 
    }

div.intro-img{
    align-self: center;
}
div.awweb{
    width: 400px;
    
}

p.htext{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

button{
    background-color: rgb(10, 74, 212);
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    border:none;
    color: white;
}

section.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

div.sectionhead{
    margin-bottom: 30px;
}
.contenthead{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

div.images{
    display: flex;
    justify-content: center;
    align-items: center;gap: 200px;
} 

div.img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

div.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 200px;
}

.image1,.image2,.image3,.image4{
    align-self: center;
    width:auto;
}       

#quote
{
    background-color: lightgrey;
}
.quote{
    text-align: center;
    font-size: 28px;
    height: 300px;
    width: 800px;
    gap: 10px;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.quoted{
    font-style: italic;
}

div.author{
    align-self: center;
    align-self: flex-end;
    font-weight: bold;  
}
footer.footer{
    background-color: rgb(70, 103, 248);
    margin: 10px 150px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 100%;
}

div.footer-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
div.button{
    align-self: center;
}

footer.final{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
}

